name: "CI/CD Pipeline for Python" # TEST 7

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci-pipeline:
    uses: guillipa1993/devops-pipelines-ci-cd/.github/workflows/python-ci.yml@main
    with:
      language: 'python'
      python-version: '3.9'
      report-language: 'English'
      project-path: ''
      requirements-path: '.binder/'
      build-configuration: 'Release'
      additional-install-commands: |
        pip install --upgrade pip setuptools wheel
        pip install meson meson-python cython numpy scipy
      build-command: 'pip install .'
      run-check-code-format: true
      run-code-analysis: true
      run-lint: true
      environment-variables: ''
    secrets:
      AZURE_STORAGE_ACCOUNT_NAME: ${{ secrets.AZURE_STORAGE_ACCOUNT_NAME }}
      AZURE_STORAGE_ACCOUNT_KEY: ${{ secrets.AZURE_STORAGE_ACCOUNT_KEY }}
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}